* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #001821;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 119px;
}

.main-wrapper {
  background: url("../images/bg/hero.jpg") center top no-repeat, url("../images/bg/bottom-pic.jpg") right bottom 107px no-repeat;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}

.logo__pic {
  height: 42px;
}

.menu {
  position: absolute;
  top: 37px;
  left: 164px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item_color_red .menu__link {
  color: #f5170e;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;
  color: #ffffff;
}

.menu__link:hover {
  color: #f5170e;
}

.contact {
  font-style: normal;
  position: absolute;
  top: 21px;
  right: 0px;
  text-align: right;
}

.contact__info {
  font-size: 11px;
}

.contact__phone {
  font-size: 26px;
  margin-bottom: 4px;
}

.contact__sсhedule {
  font-size: 13px;
  text-decoration: underline;
}

.page-content {
  position: relative;
}

.hero {
  height: 312px;
  position: relative;
  width: 600px;
  margin-bottom: 245px;
}

.title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 34px;
}

.button {
background: #f5170e;
border-radius: 26px;
padding: 17px 39px;
color: #ffffff;
font-weight: bold;
text-transform: uppercase;
display: inline-block;
font-size: 14px;
}

.button:hover {
  background: #da0100;
  color: #ffffff;
}

.tour {
  margin-bottom: 133px;
}

.section-title {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 48px;
}

.section-title_icon_fire::after {
  content: "";
  background: url("../images/icons/flame.png") center center no-repeat;
  display: inline-block;
  width: 33px;
  height: 28px;
}

.tour__item {
  min-height: 440px;
  background: #ffffff;
  border-radius: 6px;
  display: inline-block;
  margin-right: 25px;
  width: 360px;
  overflow: hidden;
}

.tour__item:last-child {
  margin-right: 0px;
}

.tour-block__image {
  object-fit: cover;
  height: 143px;
  margin-bottom: 17px;
  width: 100%;
}

.tour-block__heading {
  margin-left: 21px;
  margin-right: 24px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  color: #000000
}

.tour-description {
  display: inline-block;
  width: 120px;
  margin-left: 26px;
  margin-bottom: 28px;
  font-size: 16px;
  color: #666666;
}

.duration__text::before {
  content: "";
  background: url("../images/icons/offers/calendar.png") no-repeat;
  display: inline-block;
  width: 34px;
  height: 28px;
  margin: 0 0 -7px 0;
}

.food__text::before {
  content: "";
  background: url("../images/icons/offers/meal.png") no-repeat;
  display: inline-block;
  width: 46px;
  height: 28px;
  margin: 0 0 -7px 0;
}

.tour-block__text {
  margin-left: 21px;
  margin-right: 30px;
  margin-bottom: 27px;
  font-size: 14px;
  color: #303030;
}

.tour-block__button {
  margin-left: 21px;
  margin-bottom: 36px;
  color: #f5170e; 
  background: #ffffff;
  border: 1px solid #f5170e;
  padding: 16px 29px;
}

.tour-block__button:hover {
  background: #f5170e;
}

.tour-block__button_color_red {
  background: #f5170e;
  color: #ffffff;
}

.news-block {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-bottom: 52px;
  margin-right: 25px;
}

.news-block_padding {
  margin-right: 0px;
}

.news__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 388px;
  border-radius: 6px;
  opacity: 90%; 
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 160px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 10px;
}

.news__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.paginator {
  text-align: center;
  margin-bottom: 150px;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 20px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item_active .paginator__link {
  background: #ffffff;
  color: #d21d16;
}

.paginator__link {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 33px;
}

.paginator__link:hover {
  background: #ffffff;
  color: #d21d16;
}

.about-company {
  margin-bottom: 46px;
}

.about-article:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 488px;
  height: 502px;
  background: url("../images/decor/gates.jpg") center center / cover no-repeat;
  border-radius: 6px;
}

.about-content {
  background: url("../images/decor/mountains.jpg") center center / cover no-repeat;
  padding: 82px 98px;
  display: inline-block;
  vertical-align: top;
  width: 780px;
  height: 450px;
  margin-left: -135px;
  margin-top: 110px;
  border-radius: 6px;
}

.section-title_color_dark {
  color: #000000;
  margin-bottom: 36px;
}

.about__description {
  color: #000000;
  margin-bottom: 50px;
  line-height: 1.3;
}

.footer-container_content {
  border-top: 1px solid #666666;
}

.footer__content {
  margin-top: 30px;
}

.footer {
  height: 148px;
  position: relative;
}

.social-media__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social-media {
  position: absolute;
  top: 32px;
  right: 260px;
}

.social-media__item:last-child {
  margin-right: 0px;
}

.social-media__link {
  display: block;
  text-decoration: none;
  width: 34px;
  height: 34px;
  opacity: 40%; 
  background: center center no-repeat;
}

.social-media__item_img_inst .social-media__link {
  opacity: 90%; 
}

.social-media__link:hover {
  opacity: 90%; 
}



