.breadcrumbs__list {
  display: flex;
  align-items: center;
  
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.breadcrumbs__item_active .breadcrumbs__link {
  font-weight: bold;
}

.breadcrumbs__item:after {
  content: "/";
  color: #ffffff;
  padding-left: 5px;
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.breadcrumbs__link {
  font-size: 14px;
  text-decoration: underline;
}