.button {
  background: #f5170e;
  border-radius: 26px;
  padding: 17px 39px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-flex;
}

.button:hover {
  background: #da0100;
  color: #ffffff;
}

.button_type_secondary {
  color: #f5170e;
  background: #ffffff;
  border: 1px solid #f5170e;
  padding: 16px 29px;
  display: flex;
  width: 9.7em;
  margin-top: auto;
}

.button_type_secondary:hover {
  background: #f5170e;
}

.button_type_third {
  color: #f5170e;
  background: #ffffff;
  border: 1px solid #f5170e;
}

.button_type_third:hover {
  background: #f5170e;
}

.button_type_fourth {
  display: inline-block;
  padding: 16px 55px;
}

.button_type_fourth:hover {
  box-shadow: 0 0 25px 0 #da0100;
}

