.form {
  background: #f4f5f5;
  padding-top: 74px;
  padding-bottom: 102px;
}

.form-field__row {
  display: flex;
  margin-bottom: 30px;
}

.form-field__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #ffffff;
  padding: 22px 30px;
  color: #1a1b1e;
  border: 1px solid transparent;
}

.form-field__input:focus, .form-field__input:hover {
  border: 1px solid #666666;
}

.form-field__input::placeholder {
  color: #666666;
}

.form-field__input:last-child {
  margin-right: 0;
}

.form-field__input_text_area {
  height: 232px;
}

.form-field__controls {
  display: flex;
  margin-bottom: 22px;
}

.form-field__controls-title {
  width: 33%;
  color: #1a1b1e;
  font-size: 18px;
}

.control__list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.control__item {
  margin-bottom: 10px;
  margin-right: 10px;
}


.control__elem {
  cursor: pointer;
}

.control__checkbox {
  display: none;
}

.control__checkbox:checked ~ .control__tag {
  background: #b9eae4;
}

.form-field__btn {
  display: flex;
  justify-content: flex-end;
}

.form-field__btn-black {
  margin-right: 23px;
  outline: none;
}

.form-field__btn-red {
  outline: none;
}

