.header-container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  margin-bottom: 33px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col_align_right {
  justify-content: flex-end;
}

.header-container__content-inner {
  margin-bottom: 0px;
}

.header-inner {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  background: #00131d url(../../images/bg/headline.jpg) right 50% top no-repeat;
}